<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bangladeshtravelguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tab1" />
        <activity android:name=".Tab2" />
        <activity android:name=".Tab3" />
        <activity
            android:name=".Transport"
            android:label="@string/title_activity_transport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Plane" />
        <activity android:name=".Train" />
        <activity android:name=".SignIn" />
        <activity android:name=".Tab4" />
        <activity android:name=".TransportChoose" />
        <activity android:name=".Budget" />
        <activity
            android:name=".BudgetPlace2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BudgetPlace1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BidgetPlace3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BudgetPlace4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".HotelDetails" />
        <activity android:name=".Hotel" />
        <activity android:name=".DisplayTrip"></activity>
    </application>

</manifest>